.book-card{
    transition:.3s;
    border-radius:10px;
    overflow:hidden;
}

.book-card:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 25px rgba(0,0,0,.15)!important;
}

.book-card img{
    height:280px;
    object-fit:cover;
}

.card-title{
    color:#0e2855;
}

.card-body p{
    font-size:15px;
}

.badge{
    font-size:14px;
}