:root{
    --primary:#e96a0b;
    --secondary:#0e2855;
    --accent:#349892;
}

/*==========================
      MAIN FOOTER
==========================*/

.readify-footer{
    background:#000;
    color:#fff;
    width:100%;
}

.readify-footer .footer-logo{
    width:160px;
    height:auto;
    margin-bottom:20px;
}

.readify-footer .footer-desc{
    color:#cfcfcf;
    line-height:1.8;
    margin:20px 0;
}

.readify-footer h5{
    font-weight:700;
    margin-bottom:25px;
}

.readify-footer a{
    display:block;
    color:#cfcfcf;
    text-decoration:none;
    margin-bottom:12px;
    transition:.3s;
}

.readify-footer a:hover{
    color:var(--primary);
    padding-left:6px;
}

/*==========================
      SOCIAL
==========================*/

.social-icons{
    display:flex;
    gap:12px;
    margin-top:25px;
}

.social-icons a{
    width:42px;
    height:42px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--secondary);
    color:#fff !important;
}

.social-icons a:hover{
    background:var(--primary);
}

/*==========================
      CONTACT
==========================*/

.readify-footer p{
    color:#ddd;
}

.readify-footer p i{
    color:var(--accent);
    width:25px;
}

/*==========================
      SUBSCRIBE
==========================*/

.subscribe-btn{
    background:var(--primary);
    color:#fff;
    border:none;
}

.subscribe-btn:hover{
    background:var(--accent);
    color:#fff;
}

/*==========================
      BOTTOM
==========================*/

.footer-bottom{
    border-top:1px solid rgba(255,255,255,.1);
    /* margin-top:10px; */
    padding:20px 0;
}

.footer-bottom p{
    margin:0;
}

.footer-bottom a{
    display:inline-block;
}
.highlingh{
    color:var(--primary);
}

/*==========================
      RESPONSIVE
==========================*/

/* ==========================
        TABLET
========================== */

/* ==========================
        TABLET
========================== */

@media (max-width:991px){

.readify-footer{
    text-align:left;
}

.readify-footer .row>div{
    margin-bottom:35px;
}

.footer-logo{
    width:150px;
}

.social-icons{
    justify-content:flex-start;
}

.footer-bottom .container{
    flex-direction:column;
    text-align:center;
    gap:10px;
}

}
/* ==========================
        MOBILE
========================== */

@media (max-width:767px){

.readify-footer{
    text-align:left;
}

.readify-footer .row>div{
    margin-bottom:30px;
}

/* About */
.footer-desc{
    max-width:100%;
}

/* Links */
.readify-footer h5{
    margin-bottom:15px;
}

.readify-footer a{
    margin-bottom:10px;
}

/* Social */
.social-icons{
    justify-content:flex-start;
}

/* Contact */
.readify-footer p{
    font-size:14px;
}

/* Subscribe */
.input-group{
    flex-wrap:nowrap;
}

.subscribe-btn{
    white-space:nowrap;
}

/* Copyright */
.footer-bottom .container{
    flex-direction:column;
    text-align:center;
    gap:8px;
}

.footer-bottom a{
    margin:0 5px;
}

}